* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: aquamarine;
}

#style-header {
    display: flex;
    background-color: #ccc;

    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
    font-size: 42px;
}

#style-grid--main-container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 80% 1fr;
    grid-template-rows: auto;

    width: 100%;
    height: fit-content;
}
#style-grid--navigator {
    grid-column: 2;
    grid-row: 1 / 2;

    background-color: aqua;
    height: 60px;
}
#style-grid--article-cards {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    grid-column: 2;
    grid-row: 2 / auto;
    align-items: center;
    justify-content: center;
}
.article-card--base {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 0.5em;
    width: 400px;
    padding: 20px;
    margin: 5px;
}
.article-card--base:active,
.article-card--base:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in;
}
.article-card--img {
    background-color: #aaa;
    width: 100%;
    height: 350px;
}
.article-card--title {
    color: #000;
    margin: 20px;
}
.article-card--tagline {
    color: #000;
    text-align: center;
}